includes:
#	- vendor/phpstan/phpstan-strict-rules/rules.neon
#	- phpstan-baseline.neon

parameters:
	level: 1
	paths:
		- src
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	reportMaybesInPropertyPhpDocTypes: false
	treatPhpDocTypesAsCertain: false

