<?xml version="1.0"?>
<config>
	<project>
		<path>/path/to/cmClasses/version/src/</path>
		<extension>php5</extension>
		<ignore type="file">/^(_|[a-z])/</ignore>
		<ignore type="folder">/^DB/</ignore>
		<category by="default">cmClasses</category>
		<package by="default">unreleased</package>
	</project>
	<builder format="HTML" theme="Default-SilverFire">
		<path type="target">/path/to/cmClasses/version/docs/api/</path>
		<path type="documents">/path/to/cmClasses/version/</path>
		<title version="">cmClasses</title>
		<author email="christian.wuerker@ceusmedia.de">Christian Würker</author>
		<company url="ceusmedia.de">Ceus Media</company>
		<logo href="http://ceusmedia.de/products/cmClasses" title="cmClasses @ CeusMedia">logo/construction.png</logo>
		<language timezone="Europe/Berlin">en</language>
		<option name="showSourceCode">1</option>
		<plugin>Home</plugin>
		<plugin>ClassList</plugin>
<!--		<plugin>Search</plugin>-->
		<plugin>About</plugin>
		<plugin>Installation</plugin>
		<plugin>History</plugin>
		<plugin>Changes</plugin>
		<plugin>Statistics</plugin>
		<plugin>UnusedVariables</plugin>
		<plugin>Deprecations</plugin>
		<plugin>Todos</plugin>
		<plugin>Bugs</plugin>
		<plugin>ParseErrors</plugin>
		<plugin>MethodOrder</plugin>
		<plugin>MethodAccess</plugin>
		<plugin>DocHints</plugin>
		<plugin>License</plugin>
	</builder>
	<reader>
		<plugin>Statistics</plugin>
		<plugin>Unicode</plugin>
		<plugin>Defaults</plugin>
		<plugin>Relations</plugin>
		<plugin>Primitives</plugin>
<!--		<plugin>Search</plugin>-->
	</reader>
	<creator timelimit="120">
		<mail></mail>
		<file type="serial">tmp/doc.cmc.serial</file>
		<file type="archive">tmp/doc.cmc.serial.gz</file>
		<file type="errors">logs/docCreatorErrors.log</file>
		<skip parser="FALSE" creator="FALSE" info="FALSE" resources="FALSE"/>
		<verbose general="TRUE" skip="FALSE" config="FALSE" info="TRUE"/>
	</creator>
	<feed format="rss" ttl="120" timezone="+0100">
		<title>DocCreator RSS Feed</title>
		<description>DocCreator</description>
		<copyright>2008 DocCreator</copyright>
		<doc>http://blogs.law.harvard.edu/tech/rss</doc>
		<manager email="christian.wuerker@ceusmedia.de">Christian Würker</manager>
		<webmaster email="christian.wuerker@ceusmedia.de">Christian Würker</webmaster>
		<language>en</language>
		<item url=""></item>
	</feed>
</config>
