parameters:
	ignoreErrors:
		-
			message: "#^Method CeusMedia\\\\Common\\\\Alg\\\\ColorConverter\\:\\:rgb2hsv_2\\(\\) is unused\\.$#"
			count: 1
			path: ../../src/Alg/ColorConverter.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: ../../src/Alg/JS/Minifier.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: ../../src/CLI/Fork/Server/Abstraction.php

		-
			message: "#^While loop condition is always true\\.$#"
			count: 1
			path: ../../src/CLI/Server/Daemon.php

		-
			message: "#^Static method CeusMedia\\\\Common\\\\FS\\\\File\\\\CSS\\\\Relocator\\:\\:_processUriCB\\(\\) is unused\\.$#"
			count: 1
			path: ../../src/FS/File/CSS/Relocator.php

		-
			message: "#^Call to an undefined method Iterator\\<mixed, mixed\\>\\:\\:getFilename\\(\\)\\.$#"
			count: 1
			path: ../../src/FS/File/Iterator.php

		-
			message: "#^Call to an undefined method Iterator\\<mixed, mixed\\>\\:\\:isDir\\(\\)\\.$#"
			count: 1
			path: ../../src/FS/File/Iterator.php

		-
			message: "#^Call to an undefined method Iterator\\<mixed, mixed\\>\\:\\:isDot\\(\\)\\.$#"
			count: 1
			path: ../../src/FS/File/Iterator.php

		-
			message: "#^Call to an undefined method Iterator\\<mixed, mixed\\>\\:\\:getFilename\\(\\)\\.$#"
			count: 1
			path: ../../src/FS/Folder/Iterator.php

		-
			message: "#^Call to an undefined method Iterator\\<mixed, mixed\\>\\:\\:isDir\\(\\)\\.$#"
			count: 1
			path: ../../src/FS/Folder/Iterator.php

		-
			message: "#^Call to an undefined method Iterator\\<mixed, mixed\\>\\:\\:isDot\\(\\)\\.$#"
			count: 1
			path: ../../src/FS/Folder/Iterator.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 5
			path: ../../src/Net/API/Gravatar.php
