includes:
#	- ../../vendor/phpstan/phpstan-strict-rules/rules.neon
	- phpstan-baseline.neon

parameters:
	phpVersion: 80300
	level: 6
	paths:
		- ../../src
	excludePaths:
		analyse:
			- ../../src/FS/File/YAML/Spyc.php
			- ../../src/Net/XMPP/XMPPHP
#			- ../../src/ADT
#			- ../../src/Alg
#			- ../../src/CLI
#			- ../../src/Exception
#			- ../../src/FS
#			- ../../src/Net
#			- ../../src/UI
#			- ../../src/UI/HTML
#			- ../../src/UI/Image
#			- ../../src/XML
	reportMaybesInPropertyPhpDocTypes: false
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		- identifier: missingType.generics
		- identifier: missingType.iterableValue