includes:
#	- vendor/phpstan/phpstan-strict-rules/rules.neon
#	- phpstan-baseline.neon

parameters:
	phpVersion: 70300
	level: 1
	paths:
#		- ../../src/ADT
#		- ../../src/Alg
#		- ../../src/CLI
		- ../../src/FS
#		- ../../src/Net
#		- ../../src/UI
#		- ../../src/XML
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	reportMaybesInPropertyPhpDocTypes: false
	treatPhpDocTypesAsCertain: false
